@font-face {
  font-family: "Poppins Medium";
  font-style: normal;
  font-weight: normal;
  src: url("./Assets/fonts/Poppins-Medium.ttf");
}

@font-face {
  font-family: "Poppins Regular";
  font-style: normal;
  font-weight: normal;
  src: url("./Assets/fonts/Poppins-Regular.ttf");
}

@font-face {
  font-family: "Poppins SemiBold";
  font-style: normal;
  font-weight: normal;
  src: url("./Assets/fonts/Poppins-SemiBold.ttf");
}

@font-face {
  font-family: "Poppins Bold";
  font-style: normal;
  font-weight: normal;
  src: url("./Assets/fonts/Poppins-Bold.ttf");
}

@font-face {
  font-family: "Poppins ExtraBold";
  font-style: normal;
  font-weight: normal;
  src: url("./Assets/fonts/Poppins-ExtraBold.ttf");
}

@font-face {
  font-family: "Poppins Light";
  font-style: normal;
  font-weight: normal;
  src: url("./Assets/fonts/Poppins-Light.ttf");
}

@font-face {
  font-family: "Poppins Thin";
  font-style: normal;
  font-weight: normal;
  src: url("./Assets/fonts/Poppins-Thin.ttf");
}

* {
  outline: none;
}

body {
  margin: 0;
  overflow-y: overlay;
  font-family: "Poppins Regular";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

::-webkit-scrollbar {
  width: 6px !important;
  height: 6px !important;
}

body ::-webkit-scrollbar-thumb {
  background-color: hsla(0, 0%, 100%, 0.16);
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar-track {
  background: hsla(0, 0%, 100%, 0.1);
}

.btn {
  border-radius: 50px;
  padding: 14px 0;
  width: 160px;
  cursor: pointer;
  transition: 0.2s;
  font-family: "Poppins SemiBold";
}

.btn:active {
  transform: translateY(2px);
}

.primary-btn {
  color: var(--white);
  border: 2px solid linen;
  font-size: 12px;
  background-color: #1f2235;
}
@media only screen and (max-width: 414px) {
  .primary-btn {
    font-size: 13px;
    margin-left: 0.5rem !important;
    width: 5rem;
  }
}

.primary-btn:hover {
  color: aliceblue;
  border: 2px solid #ff5823;
  background-color: #1f2235;
}

.highlighted-btn {
  color: var(--white);
margin-left: 00.0rem;
  font-size: 12px;
  background-color: #ff5823;
}
@media only screen and (max-width: 568px) {
  .highlighted-btn {
    z-index: -900;
  }
}

.red-border {
  border: 1px solid var(--error-message) !important;
}

.fade-in {
  opacity: 0;
  transform: translateY(80px);
  transition: all 0.8s ease;
}
.underline{
  height: 0.25rem;
  width: 8rem;
  background: rgb(169, 194, 181);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem !important;
}
.about{
  margin-left: 24.5rem;
  margin-right: auto;
}
.main-card{
  display: flex;
  margin: 0.5rem;
  margin-left: auto;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  flex-wrap: wrap;
  background-color: antiquewhite;

}
.card{
  display: flex;
  height: 40rem !important;
  contain: content;
  flex-wrap: wrap;
  width: auto;
  background-color: whitesmoke;
  margin: 0.5rem;
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: #1f2235;
}
.hed{
  font-size: 25px !important;
  color: antiquewhite;
}
.link{
  
  padding: 1rem;
  list-style:circle;
  font-size: 14px !important;
}
.space{
  margin-bottom: 4rem;
}
.p{
  font-size: 10px !important;
}
@media only screen and (max-width: 568px) {
  .main-card{
    display: flex;
    width: fit-content;
    margin: 0.5rem;
  }
  .card{
    display: flex;
    flex-direction: column;
    margin: 0.5rem !important;
    height: fit-content;
    height: 40rem;
    
  }
  .options{
    display: flex;
    flex-wrap: wrap;
    
  }
  .primary-btn{
margin-bottom: 1rem;

  }
  .link{
    font-size: 13px !important;
  }
}
.form{
  display: flex;
  flex-direction: column;
  margin: 2rem;
  justify-content: center;
  /* align-items: center; */
  background-color: beige;
  
  
}
.form-input{
  width: 15rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem;
 
  
}
.text-area{
  width: 20rem;
  height: 10rem;
  align-items: center;
  justify-content: center;
  margin-left: 7rem;
}
.form-details{
  display: flex;
  margin-left: 7rem ;
}
.label{
  margin: 1rem;
  
}
.text{
margin-left: 8rem;
}
.btn-form{
  
  background-color: #b92c6e;
  color: aliceblue;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
  margin-left: 7rem;
  border-radius: 50px;
  margin-bottom: 0.5rem;
  padding: 14px 0;
  width: 160px;
  cursor: pointer;
  transition: 0.2s;
  font-family: "Poppins SemiBold";
}

.btn-form:active {
  transform: translateY(2px);
}
.underline-body{
  height: 0.05rem;
  width: 100%;
  background: rgb(169, 194, 181);
  margin-left: auto;
  margin-right: auto;
 
}
.hire{
  align-self: center;
  align-items: center;
  text-align: center;
}
@media only screen and (max-width: 568px) {
  .form{
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin: 0.5rem  !important;
  }
  .form-input{
    margin: 0.05 !important;
    width: 7rem;
    display: flex;
    flex-direction: column;
  }
  .text-area{
    width: 10rem;
    margin-left: 1rem !important;
  }
  .text{
    font-size: 14px !important;
    margin-left: 1rem;
  }
  .btn-form{
    width: 120px !important;
    margin-left: 1rem !important;
  }
  .form-details{
    
  }
}
.p{
  font-size: 52px;
  font-weight: 200px;
}